*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'League Spartan', sans-serif;
}

/* navbar styling */



.navbar-brand{
    font-family: 'Blanka', sans-serif;
    font-size: 24px;
}

.nav_item1{
  
    font-size: 15px;
}

.nav-item a{
    color: rgb(15, 15, 15);
}



/* .form-control{
    margin-left: 30px;
} */

.loginBtn{
    color: rgb(173, 173, 173);
    transition: 0.3s ease;
    height: 15px;
}

.loginBtn:hover{
    color: black;
}

.cartBtn{
    color: rgb(173, 173, 173);
    transition: 0.3s ease;
}

.cartBtn:hover{
    color: black;
}


#quantity{
    background-color: #000000;
    color: white;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 10pt;
}


.check_container {
    height: auto;
}

.category{
    cursor: pointer;
}

.cartquantityBtn{
    padding-left: 3px;
    padding-right: 3px;
    border-radius:3px;
    border: 1px solid lightgray;
    font-weight: 600;
    transition: 0.3s ease;
}

.cartquantityBtn:hover{
    background-color: lightgray;
}


/* styling for payment page */
::placeholder{
    opacity: 0.5;
    font-style: italic;
}

.edit_btn{
    border: none;
    background: none;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    color: #797979;
}

.edit_btn:hover{
    color: #3f3f3f;
}

#arrivalDate{
    font-size: 18px;
    margin-bottom: 15px;
}

#cartItem{
    margin-bottom: 20px;
}

.summary img{
    width: 50px;
    height: 50px;
}

/* footer styling */

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 50px;
}

footer .logo_footer{
    margin-bottom: 30px;
}

footer h4{
    font-size: 19px;
    font-weight: 700;
    padding-bottom: 20px;
}

footer p{
    font-size: 18px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 16px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer a:hover{
    color: #a0a0a0;
}

footer .socmed{
    margin-top: 20px;
}

footer .socmed i{
    font-size: 25px;
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .payment i{
    font-size: 25px;
    color: #465b52;
    padding-right: 4px;
}



.copyright{
    text-align: center;
    background-color: rgb(26, 26, 26);
    margin-bottom: -20px;
}

.copyright p{
    color: white;
    font-style: oblique;
}


@media (max-width:1024px){

    /* .nav-item1 {
        margin-bottom: 15px;
    } */

    .fa-solid, .fas {
        margin-bottom: 25px;
    }

}

@media (max-width:820px){
    .d-flex {
        margin-left: 0; 
    }

    .nav-item1 {
        margin-bottom: 15px;
    }

    .fa-solid, .fas {
        margin-bottom: 25px;
    }

}

@media (max-width:430px){
    .d-flex {
        margin-left: 0; 
    }

    .nav-item {
        margin-bottom: 15px;
    }

    .fa-solid, .fas {
        margin-bottom: 25px;
    }

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* navbar styling */


.navbar-brand{
    font-family: 'Blanka', sans-serif;
    font-size: 24px;
}

.loginContainer{
    border: 1px white solid;
    background-color: rgba(53, 41, 41, 0.5);
    border-radius: 8px;
    padding-top: 50px;
    margin-top: 50px;
    width: 500px;
    height: 550px;
    color: aliceblue;
}


  
  .card{
  
    width: 400px;
    border:black;
    border-width: 5px;
    box-shadow: #000;
    background: linear-gradient(to bottom, white, transparent, white);
    border-radius: 10px;
  
  }
  
  
  
  
  .btr{
  
    border-top-right-radius: 5px !important;
  }
  
  
  .btl{
  
    border-top-left-radius: 5px !important;
  }
  
  .btn-dark {
      color: #fff;
      background-color: #0d6efd;
      border-color: #0d6efd;
  }
  
  
  .btn-dark:hover {
      color: #fff;
      background-color: #0d6efd;
      border-color: #0d6efd;
  }
  
  
  .nav-pills{
  
    display:table !important;
    width:100%;
  }
  
  .nav-pills .nav-link {
      border-radius: 0px;
          border-bottom: 1px solid #0d6efd40;
  
  }
  
  .nav-item1{
        display: table-cell;
         
         color: black;
  }
  
  
  .form{
  
    padding: 10px;
        height: 500px;
  }
  
  .form input{
  
    margin-bottom: 12px;
    border-radius: 3px;
  }
  
  
  .form input:focus{
  
    box-shadow: none;
  }
  
  
  .form button{
  
    margin-top: 20px;
  }

  .remember1{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px ;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.remember1 label input{
    accent-color: #162938;
    margin-right: 3px;
}

.remember2{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px ;
    display: flex;
    justify-content: center;
}

.remember2 label input{
    accent-color: #162938;
    margin-right: 3px;
}
